<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, viewport-fit=cover">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <style>
    * {
      margin: 0;
      padding: 0;
    }

    body {
      display: none;
    }

  </style>
</head>
<body theme="theme1" class="theme1">
  <%= require('./header.ejs')() %>
  <div class="color1">
    hello world <%= __MODE__ %> <%= __MODE1__ %>
    <div class="test-css"></div>

    <img style="width: 100px;height: 100px;" src="<%= require('./imgs/1.jpg') %>" alt="">

    <div>当前环境为: <%= __MODE__ %></div>

    <img id="img" style="width: 100px;height: 100px;"></img>

  </div>
  <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
</body>
</html>
