<%= require('./common/header.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
  __MODE1__: __MODE1__
}) %>


<%= require('./header.ejs')() %>

<button class="px-4 py-1 text-sm text-purple-600 font-semibold rounded-full border border-purple-200 hover:text-white hover:bg-purple-600 hover:border-transparent focus:outline-none focus:ring-2 focus:ring-purple-600 focus:ring-offset-2">
  Message
</button>

<div>
  <!-- <svg class="svg-icon">
    <use xlink:href="/images/sprite.svg#apply-usage"></use>
  </svg> -->
  <svg class="svg-icon">
    <use xlink:href="#apply"></use>
  </svg>
  haha
</div>
<div>
  <!-- <svg class="svg-icon">
    <use xlink:href="/images/sprite.svg#apply-usage"></use>
  </svg> -->
  <svg class="svg-icon">
    <use xlink:href="#warn"></use>
  </svg>
  heihei
</div>
<div class="color1">
  hello world1111 <%= __MODE__ %> <%= __MODE1__ %>
  <div class="test-css"></div>

  <img style="width: 100px;height: 100px;" src="./images/1.jpeg" alt="" srcset="">

  <img style="width: 100px;height: 100px;" src="<%= require('./imgs/1.jpg') %>" alt="">

  <div>当前环境为: <%= __MODE__ %></div>

  <img id="img" style="width: 100px;height: 100px;"></img>

</div>


<%= require('./common/footer.ejs')({
  htmlWebpackPlugin: htmlWebpackPlugin,
  __MODE1__: __MODE1__
}) %>
